@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --Title: font-family: "Squada One", cursive;
  --Parag: font-family: "Roboto", sans-serif;
  --secundary-font: font-family: "Roboto", sans-serif;
  --color-base: #00a0d5;
  --color-base-secundary: #008ebd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  background: black;
}

/* ============ RESET SCROLLBAR ==============-- */
body::-webkit-scrollbar {
  width: 8px;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #00a0d5;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: var(--color-base);
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--Title);
  background: rgb(21, 21, 21);
  position: fixed;
  height: 80px;
  z-index: 999;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

nav .nav-list li a {
  font-size: 11.5px;
  font-weight: 700;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.main {
  width: 100%;
  height: auto;
  display: block;
}

.main .section-home {
  position: relative;
  top: 80px;
}

.main .home {
  width: 100%;
  height: auto;
  align-items: center;
}

.main .background {
  width: 100%;
  height: auto;
  background-image: url(../images/homegif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main .background .opacity {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.854);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.main .background .opacity h1 {
  color: white;
  background-color: none;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Squada One", cursive;
}

.section1 {
  width: 100%;
  height: auto;
  position: relative;
  top: 100px;
}

.section1 .container {
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 20px 10px;
}

.section1 .container .box-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.section1 .container .box-img .img {
  width: 100%;
  height: 400px;
  background-image: url(../images/olivier-collet-JMwCe3w7qKk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 20px;
}

.section1 .container .line {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin: 40px 0 40px 0;
}

.section1 h2 {
  color: var(--color-base);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Squada One", cursive;
  font-size: 26px;
}

.box-process {
  width: 100%;
  height: auto;
  margin: 40px 0;
}

.box-process .title-process {
  width: 100%;
  text-align: left;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.box-process .title-process h3 {
  width: 50%;
  padding: 30px;
  border: 0.8px solid gray;
  text-align: center;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.box-process .flex-process {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-process .left-process {
  padding: 20px;
}

.flex-process .left-process h4 {
  color: #00a0d5;
  font-family: "Squada One", cursive;
  font-size: 18px;
}

.flex-process .left-process p {
  color: white;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}

.box-process2 {
  width: 100%;
  height: auto;
  margin: 40px 0;
}

.box-process2 .title-process2 {
  width: 100%;
  text-align: left;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.box-process2 .title-process2 h3 {
  width: 50%;
  padding: 30px;
  border: 0.8px solid gray;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.box-process2 .flex-process2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-process2 .right-process2 {
  padding: 20px;
}

.flex-process2 .right-process2 h4 {
  color: #00a0d5;
  font-family: "Squada One", cursive;
  font-size: 18px;
}

.flex-process2 .right-process2 p {
  color: white;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 9vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: rgb(21, 21, 21);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  nav .nav-list li a {
    font-size: 11px;
  }
  .mobile-menu {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .flex-process .left-process p {
    font-size: 10px;
  }
  .box-process .flex-process .left-process {
    width: 400px;
  }
  .flex-process .rigth-process {
    width: 50%;
  }
  .flex-process .right-process img {
    width: 100%;
    min-width: 300px;
  }
  .box-process2 .flex-process2 .left-process2 {
    width: 50%;
  }
  .flex-process2 .left-process2 img {
    width: 100%;
    min-width: 300px;
  }
  .flex-process2 .right-process2 {
    width: 400px;
  }
  .flex-process2 .right-process2 p {
    font-size: 10px;
  }
}
@media screen and (max-width: 580px) {
  .box-process .flex-process {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .flex-process2 .right-process2 h4 {
    text-align: center;
  }
  .flex-process .right-process h4 {
    text-align: center;
  }
  .box-process .flex-process .left-process {
    width: 100%;
  }
  .flex-process .rigth-process {
    width: 100%;
  }
  .flex-process .right-process img {
    width: 100%;
  }
  .box-process2 .flex-process2 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .box-process2 .flex-process2 .left-process2 {
    width: 100%;
  }
  .flex-process2 .left-process2 img {
    width: 100%;
  }
  .flex-process2 .right-process2 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */